<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>
        <p><a href="{% url 'book_store:author'%}">Author</a></p>
        <p><a href="{% url 'book_store:books' %}"> Books </a></p>
        <p><a href="{% url 'book_store:publisher'%}">Publisher</a></p>
        <p><a href="{% url 'book_store:store' %}">Store</a></p>
    </table>
    <table>
        <p><a href="{% url 'book_store:author-list'%}">Authors</a></p>
        <p><a href="{% url 'book_store:publisher-list'%}">Publishers</a></p>
        <p><a href="{% url 'book_store:book-list'%}">Books</a></p>
    </table>
        <p><a href="{% url 'admin:index' %}">Admin</a></p>
</body>
</html>