<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>

        <p><a href="{% url 'book_store:author'%}">Author</a></p>
        <p><a href="{% url 'book_store:books' %}"> Books </a></p>
        <p><a href="{% url 'book_store:publisher'%}">Publisher</a></p>
        <p><a href="{% url 'book_store:store' %}">Store</a></p>
{#        <p><a href="{% url 'reminder:reminder' %}">Reminder</a></p>#}

{#        <p><a href="{% url 'book_store:example' %}">Example</a></p>#}
        <p><a href="{% url 'book_store:author-list'%}">Author Detail</a></p>
        <p><a href="{% url 'book_store:author-list'%}">Authors List</a></p>
        <p><a href="{% url 'book_store:author-create' %}">Author Create</a></p>
        <p><a href="{% url 'book_store:author-list'%}">Author Update</a></p>
        <p><a href="{% url 'book_store:author-list'%}">Author Delete</a></p>

    </table>
</body>
</html>