<h1>Publishers</h1>
<ul>
    {% for publisher in object_list %}
        <li>
            <a href="{% url 'book_store:publisher-detail' publisher.pk%}"> <p>{{ publisher.name }}</p></a>
        </li>
    {% endfor %}
</ul>

  {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}

<h4>
    <a href="{% url 'book_store:publisher-create' %}">Publisher Create</a>
</h4>
<h3>

    <a href="{% url 'book_store:index'%}"> Home </a>
</h3>

</ul>